body{
    background-image: url("http://www.misucell.com/data/out/10/IMG_418374.png");
}
.gridster{
    background-color: #008b8b00;
}

.gridster li{
    list-style: none;
    background-color: #337ab700;
}

.menuCase{
    height: 21px;
    background-color: #ffffff00;
    text-align: right;
}
.menuCase span
{
    margin-right:7px;
    color:#bfbfbf;
    cursor:pointer;
}
.menuCase span:hover
{
    margin-right:7px;
    color:#ffffff;
    cursor:pointer;
}
.menuCase .glyphicon-remove
{

    border: 2px #bfbfbf solid;
    border-radius: 4px;
    padding:px;
    color:#bfbfbf;
}
.menuCase .glyphicon-remove:hover
{

    border: 2px #ffffff solid;
    border-radius: 4px;
    padding:px;
    color:#ffffff;
}

/* #ajouterCase, #sauvegarderEmplacement, #annulerModif{
    display: none;
} */
#sauvegarderEmplacement, #annulerModif{
    display: none;
}

.widgetEnModif .menuCase{
    visibility: visible;
}

.widgetPasModif .menuCase{
    visibility: hidden;
}

#menuAjoutWidget {
    background-color: #efefef;
    height: 100vh;
    box-shadow: 5px 0px 15px 1px #00000080;
    visibility: hidden;
    }
.widgetListe
    {
        text-decoration: line-through;
    }
.widgetDispo{
        text-decoration: none;
    }
.widgetDispo:hover{
    cursor: pointer;
    font-weight: bold;
}
.contenuCase
{
    background-color: #ffffff12;
    border-radius: 4px;
}



/*#menuAjoutWidget{
    background-color: antiquewhite;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100px;
    z-index: 100;
    display: none;
}

.partieGridsterEnModif{
    position: relative;
    left: 110px;
}*/